body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

nav {
  background: #1b8f4d;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  }
